/* REGOLE GENERALI */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F9F4EE;
  color: #556859;
}

/* TITOLO */
h1{
  margin-top: 30px;
  text-align: center;
  color: #C59AAE;
}

/* CONTENITORE PRINCIPALE */
.container{
  width: 50%;
  margin: auto;
  margin-top: 50px;
  height: 100vh;
}

/* TESTO PRE-LISTA */
h2{
  margin-bottom: 10px;
  color: #455A4B;
}

/* CHECKBOX COLOR */
#list-items{
  margin-bottom: 10px;
  accent-color: #556859;
}

#aggiungi{
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #C59AAE;
}

.container a{
  text-decoration: none;
}

#btn{
  font-size: 0.8rem;
  background-color: #D1A590;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}